
.principal{
    padding:40px;
    box-shadow: 5px 5px 10px rgba(42, 148, 223, 0.238);
}


.nav-p{
    font-size:1.5rem;
    
}
.logo-titulo {
    display:flex;
    gap:10px;
}
.logo{
    width:40px;
    
}
.embalamar{
    margin: 4px;
}
.input{
    box-shadow: -5px 5px 12px  rgba(42, 148, 223, 0.352);
    width:300px;
}

.button-procurar{
    background-color:#FFF;
    box-shadow: 5px 5px 12px  rgba(42, 148, 223, 0.352);
    color:rgb(42, 148, 223);
    border:1px solid rgb(42, 148, 223);
  
}

.button-procurar:hover{
    color:white;
    background-color: rgb(42, 148, 223);
    border:1px solid rgb(42, 148, 223);
    
  
}
.btns{
    padding:0;
    display:flex;
    
}
/* .btn-cadastro{
    border-radius: 0%;
    width:100px;
    background-color: rgb(42, 148, 223);
    border:none;
}

.btn-cadastro:hover{
    background-color: #FFF;
    color:rgb(42, 148, 223);
    border:1px solid rgb(42, 148, 223);
} */







.search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .input {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    flex-grow: 1;
  }
  
  .button-procurar, .btn-google {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border:1px solid rgb(42, 148, 223) ;
    border-radius: 4px;
    cursor: pointer;
  }


  
  /* Estilos responsivos para telas menores que 1000px */
  @media (max-width: 1000px) {
    .search-form {
      flex-direction: column;
      align-items: stretch;
    }
  
    .input,
    .button-procurar,
    .btn-google {
      margin: 5px 0;
      width: 100%;
    }
  
    .profile-info {
      text-align: center;
      margin-top: 10px;
    }
  }





